html, body {
    margin: 0;
    padding: 0;
    background-color: rgba(202, 200, 200, 0.649);
    font-family: 'Source Sans Pro', sans-serif;
}
.continer{
    width: 375px;
    background-color: #ffffff;
    margin: 0 auto;
}
.header{
    display: flex;
    border-bottom: 1px solid #C6C6C6;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px ;
}

.logo{
    width: 127px;
}
.user-photo{
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.user-info {
  display: flex;
  margin: 0 auto;
  align-items: center;
  width: 348px;
  padding: 10px;

}
.name-and-place{
  padding-left: 10px;
}
.new-post{
    width:100%;
}
.post-body{
    padding: 20px 13px;
}
.icons{
    width: 120px;
    display: flex;
    justify-content: space-between;
}

.icon{
   width: 30px;
}

.like{
    display: flex;
    
}
#count{
    padding-right: 5px;
}
.user,  .like, .name-user{
    font-weight: 700;
}
.newUserName-comment, .like, .icons{
    padding: 5px 0;
}
.newUserName-comment{
    display: flex;
}
#comment{
    padding-left: 5px;
}
#user-second{
    border-top: 20px solid rgba(128, 128, 128, 0.444);
    border-bottom: 20px solid rgba(128, 128, 128, 0.444);
}